africastalking==1.2.8
black==24.8.0
pylint==3.2.6
ipython==8.30.0
ollama==0.3.3
black==24.8.0
pyment==0.3.3
codecarbon==2.7.1
gradio==5.7.1
duckduckgo_search==6.3.2
langtrace-python-sdk==3.3.12
setuptools==75.6.0
